# Backward-Looking Monte Carlo Simulation

Suppose that the expected return on equity (estimated based on the CAPM) is 15% per annum (in the real world) and that the standard deviation of the return (i.e., the volatility) is 50% per annum. The present value of equity at time 0 is $211.700. Predict the past value of the equity 5 years ago and a 95% confidence interval for the past value of the equity 5 years ago.

In [38]:
import numpy as np
import pandas as pd
from scipy.stats import norm
from numpy.random import randn
from numpy import random as rn
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [39]:
ST = 211.7000016612675
μ = 0.15
σ = 0.50
T = 5

In [40]:
# the past value of the equity 5 years ago from now under a deterministic world (i.e., a world of absolute certainty)

S0 = ST*np.exp(-μ*T)
S0

100.00000000000001

In [41]:
Paths = 50000
N = 1
dt = T/N

In [42]:
data = ST*np.ones(Paths)
# initialize list of lists   
data1 = {'ST':data}
# Create the pandas DataFrame 
df = pd.DataFrame(data1) 
# print dataframe. 
df

               ST
0      211.700002
1      211.700002
2      211.700002
3      211.700002
4      211.700002
...           ...
49995  211.700002
49996  211.700002
49997  211.700002
49998  211.700002
49999  211.700002

[50000 rows x 1 columns]

In [43]:
df['RAND()'] = rn.rand(Paths,1)
df

               ST    RAND()
0      211.700002  0.189512
1      211.700002  0.875672
2      211.700002  0.170441
3      211.700002  0.245940
4      211.700002  0.075864
...           ...       ...
49995  211.700002  0.523880
49996  211.700002  0.717765
49997  211.700002  0.054529
49998  211.700002  0.729838
49999  211.700002  0.769514

[50000 rows x 2 columns]

In [44]:
# we create a column called NORMSINV() which gives the inverse cumulative function for the standard normal distribution. 
# It follows that NORMSINV(RAND()) gives a random sample from a standard normal distribution.
df['NORMSINV()'] = norm.ppf(df['RAND()'])
df

               ST    RAND()  NORMSINV()
0      211.700002  0.189512   -0.879694
1      211.700002  0.875672    1.153622
2      211.700002  0.170441   -0.952426
3      211.700002  0.245940   -0.687321
4      211.700002  0.075864   -1.433458
...           ...       ...         ...
49995  211.700002  0.523880    0.059894
49996  211.700002  0.717765    0.576213
49997  211.700002  0.054529   -1.602439
49998  211.700002  0.729838    0.612323
49999  211.700002  0.769514    0.737247

[50000 rows x 3 columns]

In [45]:
df['S0'] = df['ST']/np.exp(1.5-((μ-0.5*σ**2)*T+σ*df['NORMSINV()']*np.sqrt(T)))
df

               ST    RAND()  NORMSINV()          S0
0      211.700002  0.189512   -0.879694   20.018201
1      211.700002  0.875672    1.153622  194.407963
2      211.700002  0.170441   -0.952426   18.454823
3      211.700002  0.245940   -0.687321   24.821786
4      211.700002  0.075864   -1.433458   10.778095
...           ...       ...         ...         ...
49995  211.700002  0.523880    0.059894   57.233173
49996  211.700002  0.717765    0.576213  101.941223
49997  211.700002  0.054529   -1.602439    8.922612
49998  211.700002  0.729838    0.612323  106.140945
49999  211.700002  0.769514    0.737247  122.050828

[50000 rows x 4 columns]

In [46]:
V = df['S0']

G = 1629562571
np.random.seed(G)
from datetime import datetime 
start_time = datetime.now() 
from datetime import datetime
# datetime object containing current date and time
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
def NORMSINV(x):
    x = si.norm.ppf(x)
    return (x)
time_elapsed1 = datetime.now() - start_time 
from scipy import stats
Workbook_Name = "Backward-Looking MC Simulation.ipynb"
Number_of_Simulations = "{:,.0f}".format(Paths)
Number_of_Iterations = "{:,.0f}".format(N)
Number_of_Inputs = "{:,.0f}".format(5)
Number_of_Outputs = 38
Sampling_Type = "Latin Hypercube"
Simulation_Start_Time = dt_string
Simulation_Duration = "{}".format(time_elapsed1)
Random_N_Generator = "Mersenne Twister"
Random_Seed = G
e = ["Workbook Name","Number of Simulations","Number of Iterations","Number of Inputs","Number of Outputs","Sampling Type",\
 "Simulation Start Time","Simulation Duration","Random # Generator","Random Seed"]
f = [Workbook_Name, Number_of_Simulations, Number_of_Iterations, Number_of_Inputs, Number_of_Outputs, Sampling_Type,\
 Simulation_Start_Time, Simulation_Duration, Random_N_Generator, Random_Seed]
Per5 = "{:,.4f}".format(np.percentile(V, 5))
P5 = "{:.0%}".format(0.05)
Per10 = "{:,.4f}".format(np.percentile(V, 10))
P10 = "{:.0%}".format(0.10)
Per15 = "{:,.4f}".format(np.percentile(V, 15))
P15 = "{:.0%}".format(0.15)
Per20 = "{:,.4f}".format(np.percentile(V, 20))
P20 = "{:.0%}".format(0.20)
Per25 = "{:,.4f}".format(np.percentile(V, 25))
P25 = "{:.0%}".format(0.25)
Per30 = "{:,.4f}".format(np.percentile(V, 30))
P30 = "{:.0%}".format(0.30)
Per35 = "{:,.4f}".format(np.percentile(V, 35))
P35 = "{:.0%}".format(0.35)
Per40 = "{:,.4f}".format(np.percentile(V, 40))
P40 = "{:.0%}".format(0.40)
Per45 = "{:,.4f}".format(np.percentile(V, 45))
P45 = "{:.0%}".format(0.45)
Per50 = "{:,.4f}".format(np.percentile(V, 50))
P50 = "{:.0%}".format(0.50)
Per55 = "{:,.4f}".format(np.percentile(V, 55))
P55 = "{:.0%}".format(0.55)
Per60 = "{:,.4f}".format(np.percentile(V, 60))
P60 = "{:.0%}".format(0.60)
Per65 = "{:,.4f}".format(np.percentile(V, 65))
P65 = "{:.0%}".format(0.65)
Per70 = "{:,.4f}".format(np.percentile(V, 70))
P70 = "{:.0%}".format(0.70)
Per75 = "{:,.4f}".format(np.percentile(V, 75))
P75 = "{:.0%}".format(0.75)
Per80 = "{:,.4f}".format(np.percentile(V, 80))
P80 = "{:.0%}".format(0.80)
Per85 = "{:,.4f}".format(np.percentile(V, 85))
P85 = "{:.0%}".format(0.85)
Per90 = "{:,.4f}".format(np.percentile(V, 90))
P90 = "{:.0%}".format(0.90)
Per95 = "{:,.4f}".format(np.percentile(V, 95))
P95 = "{:.0%}".format(0.95)
Minimum = "{:,.4f}".format(np.min(V))
Maximum = "{:,.4f}".format(np.max(V))
Range = "{:,.4f}".format((np.max(V))-(np.min(V)))
Count = len(V)
Mean = "{:,.4f}".format(np.mean(V))
Median = "{:,.4f}".format(np.median(V))
# Mode = "{:,.4f}".format(stats.mode(V)[0][0])
Mode = "{:,.4f}".format(stats.mode(V)[0])
Variance = np.var(V)
Std_Dev = "{:,.4f}".format(np.std(V))
Std_Err = "{:,.4f}".format(np.std(V)/np.sqrt(Count))
Skewness = round(stats.skew(V),9)
Kurtosis = round((stats.kurtosis(V)+3),9)
Exc_Kurt = round((stats.kurtosis(V)),9)
Left_X = Per5
Left_P = P5
Right_X = Per95
Right_P = P95
Diff_X = "{:,.4f}".format((np.percentile(V, 95) - np.percentile(V, 5)))
Diff_P = "{:.0%}".format(0.90)
g = {"Information": e, "Result": f}
st = pd.DataFrame(data=g)
a = ["Minimum","Maximum","Range","Count","Mean","Median","Mode","Variance","Std Dev","Std Err","Skewness","Kurtosis"\
    ,"Exc_Kurt","Left X","Left P","Right X","Right P","Diff X","Diff P"]
b = [Minimum, Maximum, Range, Count, Mean, Median, Mode, Variance, Std_Dev, Std_Err, Skewness, Kurtosis\
     ,Exc_Kurt, Left_X, Left_P, Right_X ,Right_P, Diff_X, Diff_P]
c = [P5,P10,P15,P20,P25,P30,P35,P40,P45,P50,P55,P60,P65,P70,P75,P80,P85,P90,P95]
d = [Per5, Per10, Per15, Per20, Per25, Per30, Per35, Per40, Per45, Per50, Per55, Per60, Per65,\
 Per70, Per75, Per80, Per85, Per90, Per95]
d = {"Statistics": a, "Statistics Result": b, "Percentile": c, "Percentile Result": d}
st1 = pd.DataFrame(data=d)
from datetime import date
today = date.today()
now = datetime.now()
import calendar
curr_date = date.today()
print("\033[1m Simulation Summary Information")
print("\033[0m ================================================")
print("\033[1m Performed By:","\033[0mRoi Polanitzer")
print("\033[1m Date:","\033[0m",calendar.day_name[curr_date.weekday()],",",today.strftime("%B %d, %Y"),",",now.strftime("%H:%M:%S AM"))
st

 Simulation Summary Information
 ================================================
 Performed By: Roi Polanitzer
 Date:  Sunday , January 21, 2024 , 09:19:14 AM

             Information                                Result
0          Workbook Name  Backward-Looking MC Simulation.ipynb
1  Number of Simulations                                50,000
2   Number of Iterations                                     1
3       Number of Inputs                                     5
4      Number of Outputs                                    38
5          Sampling Type                       Latin Hypercube
6  Simulation Start Time                   21/01/2024 09:19:14
7    Simulation Duration                        0:00:00.000207
8     Random # Generator                      Mersenne Twister
9            Random Seed                            1629562571

In [47]:
print("\033[1m Summary Statistics for the Past Value of Equity")
print("\033[0m ================================================")
print("\033[1m Performed By:","\033[0mRoi Polanitzer")
print("\033[1m Date:","\033[0m",calendar.day_name[curr_date.weekday()],",",today.strftime("%B %d, %Y"),",",now.strftime("%H:%M:%S AM"))
st1

 Summary Statistics for the Past Value of Equity
 ================================================
 Performed By: Roi Polanitzer
 Date:  Sunday , January 21, 2024 , 09:19:14 AM

   Statistics Statistics Result Percentile Percentile Result
0     Minimum            0.6073         5%            8.6583
1     Maximum        6,242.8202        10%           12.7869
2       Range        6,242.2129        15%           16.8470
3       Count             50000        20%           20.8401
4        Mean           99.9629        25%           24.9905
5      Median           53.5152        30%           29.5250
6        Mode            0.6073        35%           34.5717
7    Variance      25381.030255        40%           40.3651
8     Std Dev          159.3143        45%           46.4066
9     Std Err            0.7125        50%           53.5152
10   Skewness          8.502607        55%           61.6236
11   Kurtosis        167.931973        60%           70.8393
12   Exc_Kurt        164.931973        65%           82.2340
13     Left X            8.6583        70%           96.1477
14     Left P                5%        75%          113.4774
15    Right X          335.9808        80%          136.9547
16    Right P               95%        85%          171.1086
17     Diff X          327.3224        90%          227.6209
18     Diff P               90%        95%          335.9808

In [48]:
V = df['ST']
print("The past value of equity is: {:.2f}".format(np.mean(V)))

The past value of equity is: 211.70

## Resources

* https://medium.com/@polanitzer/backward-looking-monte-carlo-simulation-predict-an-unknown-past-value-of-equity-using-the-1d8ec106f9ab